Flask
Gunicorn
opencv-python
numpy
keras
Pillow  # Required for Wrinkles Detection app
dlib   # Required for Drowsiness Detection app
scipy    # Required for Drowsiness Detection app
librosa  # Required for Speech Emotion Recognition app
joblib   # Required for Speech Emotion Recognition app
pydub   # Required for Speech Emotion Recognition app
